<h2>Group details of {{groupName}}</h2>
    <div class="grid-container group-detail-container grid-5-col">
        <div class="grid-element" id="group-grid-item1">
            <div>
                {{!-- Id: {{id}}
                <br> --}}
                Admin: {{admin.username}}
                <br>
                The Crew:
                <ul>
                    {{#each crew}}
                    <li>{{username}}</li>
                    {{/each}}
                </ul>
                {{#unless crew}}
                -- no crew members --
                {{/unless}}
            </div>

            <div class="item-card">
                Eager to join the crew:
                {{!-- Solution with anchor tag --}}
                {{#each pending}}
                <div>{{username}} 
                {{#if ../adminStatus}}<a href="/group/{{../groupName}}/join/{{_id}}">worthy</a> | <a href="/group/{{../groupName}}/deny/{{_id}}">deny</a>{{/if}} </div>
                {{/each}}
                {{!-- Solution with form --}}
                {{!-- {{#each pending}}
                {{username}}
                <form action="/group/{{../groupName}}/join/{{_id}}" method="post">
                <button type="submit">WORTHY</button>
                </form>
                <form action="/group/{{../groupName}}/deny/{{_id}}" method="post">
                <button type="submit">DENY</button>
                </form>
                {{/each}} --}}
                {{#unless pending}}
                -- the waiting list is clear --
                {{/unless}}


                <div>
                    <form action="/group/{{id}}/join" method="post">
                        <button type="submit" class="button-53 btn-join">Join the crew</button>
                    </form>
                    <form action="/group/{{id}}/leave" method="post">
                        <button type="submit" class="button-53 btn-leave">Leave</button>
                    </form>
                    {{!-- <a href="/group/{{id}}/leave">Leave</a> --}}
                </div>
                {{#if userError}}
                {{userError}}
            {{/if}}
            </div>
        </div>

        <div class="grid-element" id="group-grid-item2">
            Festivals:
            {{#each festivals}}
            <div class="item-card">
                {{name}} | {{startDate}} – {{endDate}}
                <form>
                    <input type="hidden" value="{{_id}}" name="id">
                <button type="submit" class="button-28 btn-white btn-small">Show</button>
                </form>
            </div>
            {{/each}}
            {{#unless festivals}}
            <div class="item-card empty-card">
            -- no festivals added so far --
            </div>
            {{/unless}}

            <div class="item-card" id="choose-festival-card">
                <form action="/group/{{id}}" method="post">
                    <label for="addFestival">Choose a festival:</label>
                    <select name="addFestival" id="addFestival">
                    {{#each festivalCollection}}
                    <option value="{{_id}}">{{name}} | {{startDate}} – {{endDate}}</option>
                    {{/each}}
                    </select>
                    <button type="submit" class="button-28 btn-white btn-small">Add to list</button>
                </form>
            </div>
            {{!-- <br>
            <br>
            {{#each festivals}}
            <h3>{{name}}</h3>
            {{#each bands}}
            <div>{{bandName}} | {{day}} | {{stage}} | Stagetime: {{startTime}}-{{endTime}} 
                <br>
                Who is going?
                <br>
                <form action="/band/{{bandName}}/{{../_id}}/{{../../id}}/add-to-watchlist" method="post">
                <button type="submit">Add to your personal setlist
                </button>
                </form>
                <form action="/band/{{bandName}}/{{../_id}}/{{../../id}}/remove-from-watchlist" method="post">
                <button type="submit">Remove from your personal setlist
                 </button>
                </form> --}}
            {{!-- </div>
            {{/each}}
            {{/each}} --}}
        </div>

        {{#if newFestivalArr}}
        <div class="grid-element" id="group-grid-item3">
            {{#each newFestivalArr}}
            <h3>{{this.festivalName}}</h3>
            <div class="grid-5-col">
                {{#each bandsWithCrewArr}}
                <div class="item-card band-card">
                    <div>
                        <a href="/band/{{this.band.bandName}}/{{../this.idOfFestival}}"><span class="band-name">{{this.band.bandName}}</span></a>
                        {{this.band.day}} |
                        {{this.band.stage}}
                        <br>
                        Stagetime: {{this.band.startTime}}-{{this.band.endTime}}
                    </div>

                    <div>Who is going?
                        <br>
                        {{#each this.crewArr}}
                        {{this.username}} | 
                        {{/each}}
                        {{#unless this.crewArr}}
                        -- no one so far --
                        {{/unless}}
                    </div>

                    <div>
                        <form action="/band/{{this.band.bandName}}/{{../this.idOfFestival}}/{{../../id}}/add-to-watchlist" method="post">
                            <input type="hidden" name="spotifyId" value="{{this.band.spotifyId}}">
                            <button type="submit" class="button-28 btn-white">Add to your personal setlist</button>
                        </form>
                        <form action="/band/{{this.band.bandName}}/{{../this.idOfFestival}}/{{../../id}}/remove-from-watchlist" method="post">
                            <button type="submit" class="button-28">Remove from your personal setlist</button>
                        </form>
                    </div>
                </div>
                {{/each}}
                {{#unless bandsWithCrewArr}}
                <p>--- no bands were added to this festival so far ---</p>
                {{/unless}}
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>