<h2>Group details of {{groupName}}</h2>
<div>
    Admin: {{admin.username}}
</div>
<div>
    The Crew:
    <ul>
        <li>{{admin.username}} <i>(admin)</i></li>
        {{#each crew}}
        <li>{{username}}</li>
        {{/each}}
    </ul>
    {{#unless crew}}
    -- no crew members --
    {{/unless}}
    {{#if adminStatus}}
    Eager to join the crew:
    <ul>
    {{#each pending}}
    <li>{{username}} <a href="/group/{{../groupName}}/join/{{_id}}">worthy</a> | <a href="/group/{{../groupName}}/deny/{{_id}}">deny</a> </li>
    {{/each}}
    {{#unless pending}}
    -- the waiting list is clear --
    {{/unless}}
    {{/if}}
    <form action="/group/{{id}}" method="post">
    <button type="submit">Join the crew</button>
    </form>
    {{#if userError}}
    {{userError}}
    {{/if}}
</div>
<div>
    Festivals:
    <ul>
        {{#each festivals}}
        <li>-- model not yet defined --</li>
        {{/each}}
    </ul>
    {{#unless festivals}}
    -- no festivals added so far --
    {{/unless}}
</div>