<h2>{{groupName}}</h2>
    <div class="grid-container group-detail-container grid-5-col">
        <div class="grid-element" id="group-grid-item1">
            <h3>Group details</h3>
            <div class="item-card">
                {{!-- Id: {{id}}
                <br> --}}
                <div>
                Admin: {{admin.username}}
                </div>
                <div class="crew-list">
                    <div class="crew-list-element">Crew:</div>
                    
                    {{#each crewWithoutAdmin}}
                    <div class="crew-list-element">{{username}}</div>
                    {{/each}}

                    {{#unless crewWithoutAdmin}}
                    <i>-- no crew members --</i>
                    {{/unless}}
                </div>
            </div>



            <div class="item-card">
                <h4>Waiting to join the crew:</h4>
                {{!-- Solution with anchor tag --}}
                {{#each pending}}
                <div class="pending-user">
                    <div>{{username}}</div>
                    {{#if ../adminStatus}}
                    <div class="handle-pending-user">
                        <a href="/group/{{../groupName}}/join/{{_id}}" class="button-28 btn-white btn-small" id="worthy">worthy</a>
                        <a href="/group/{{../groupName}}/deny/{{_id}}" class="button-28 btn-small" id="deny">deny</a>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
                
                {{!-- Solution with form --}}
                {{!-- {{#each pending}}
                {{username}}
                <form action="/group/{{../groupName}}/join/{{_id}}" method="post">
                <button type="submit">WORTHY</button>
                </form>
                <form action="/group/{{../groupName}}/deny/{{_id}}" method="post">
                <button type="submit">DENY</button>
                </form>
                {{/each}} --}}
                {{#unless pending}}
                <i>-- the waiting list is clear --</i>
                {{/unless}}
            </div>

            <div>
                <form action="/group/{{id}}/join" method="post">
                    <button type="submit" class="button-53 btn-join">Join the crew</button>
                </form>
                <form action="/group/{{id}}/leave" method="post">
                    <button type="submit" class="button-53 btn-leave">Leave</button>
                </form>
                {{!-- <a href="/group/{{id}}/leave">Leave</a> --}}
            </div>
            {{#if userError}}
            <div class="item-card empty-card">
                {{userError}}
            </div>
            {{/if}}

        </div>

        <div class="grid-element" id="group-grid-item2">
            <h3>Festivals</h3>
            {{#each festivals}}
            <div class="item-card">
                {{name}} | {{startDate}} – {{endDate}}
                <form>
                    <input type="hidden" value="{{_id}}" name="id">
                <button type="submit" class="button-28 btn-white btn-small">Show</button>
                </form>
            </div>
            {{/each}}
            {{#unless festivals}}
            <div class="item-card empty-card">
            -- no festivals added so far --
            </div>
            {{/unless}}

            <div class="item-card add-card">
                <form action="/group/{{id}}/add-festival" method="post">
                    <label for="addFestival">Choose a festival:</label>
                    <select name="addFestival" id="addFestival">
                    {{#each festivalCollection}}
                    <option value="{{_id}}">{{name}} | {{startDate}} – {{endDate}}</option>
                    {{/each}}
                    </select>
                    <button type="submit" class="button-28 btn-white btn-small">Add to list</button>
                </form>
            </div>

            {{!-- <br>
            <br>
            {{#each festivals}}
            <h3>{{name}}</h3>
            {{#each bands}}
            <div>{{bandName}} | {{day}} | {{stage}} | Stagetime: {{startTime}}-{{endTime}} 
                <br>
                Who is going?
                <br>
                <form action="/band/{{bandName}}/{{../_id}}/{{../../id}}/add-to-watchlist" method="post">
                <button type="submit">Add to your personal setlist
                </button>
                </form>
                <form action="/band/{{bandName}}/{{../_id}}/{{../../id}}/remove-from-watchlist" method="post">
                <button type="submit">Remove from your personal setlist
                 </button>
                </form> --}}
            {{!-- </div>
            {{/each}}
            {{/each}} --}}
        </div>

        <div class="grid-element" id="group-grid-item4">
            <h3>Car Sharing</h3>
            {{#if carSharing}}
                {{#each carSharing}}
                <div class="item-card">
                    Driver: {{driver.username}}
                    Festival: {{festivalDriving.name}}
                    To: {{dayDriving}}
                    Back: {{dayDrivingBack}}
                    Seats available: {{seatsAvailable}}
                    {{#unless allOccupied}}
                        <form action="/carsharing/joinCar/{{_id}}" method="post">
                            <input type="hidden" name="groupId" value="{{../id}}">
                            <button type="submit">Get in</button>
                        </form>
                    {{/unless}}
                    {{#if passengers}}
                        <form action="/carsharing/leaveCar/{{_id}}" method="post">
                            <input type="hidden" name="groupId" value="{{../id}}">
                            <button type="submit">Get out</button>
                        </form>
                    {{/if}}
                </div>
                {{/each}}
            {{/if}}
            <div class="item-card add-card">
                <h4>Are you going to drive?</h4>
                <form action="/carsharing/addCar/{{id}}" method="post">
                    <label for="festivalDriving">Which festival?</label>
                    <select name="festivalDrivingId" id="festivalDrivingId">
                        {{#each festivals}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>

                    <label for="dayDriving">Drive to festival</label>
                    <input type="date" name="dayDriving" id="dayDriving">

                    <label for="dayDrivingBack">Drive back</label>
                    <input type="date" name="dayDrivingBack" id="dayDrivingBack">

                    <label for="capacity">Capacity</label>
                    <input type="number" name="capacity" id="capacity">

                    <button type="submit" class="button-28 btn-white btn-small">Share your car</button>
                </form>
            </div>
        </div>

        {{#if newFestivalArr}}
        <div class="grid-element" id="group-grid-item3">
            {{#each newFestivalArr}}
            <h3>{{this.festivalName}}</h3>
            <div class="grid-5-col">
                {{#each bandsWithCrewArr}}
                <div class="item-card band-card">
                    <div class="band-card-item1">
                        <a href="/band/{{this.band.bandName}}/{{../this.idOfFestival}}" class="band-name">{{this.band.bandName}}</a>
                        <div class="band-day">{{this.band.day}}</div>
                    </div>
                    <div class="band-card-item2">
                        {{this.band.stage}}: {{this.band.startTime}}-{{this.band.endTime}}
                    </div>

                    <div>Who of your crew is going?
                        <br>
                        {{#each this.crewArr}}
                        {{this.username}} | 
                        {{/each}}
                        {{#unless this.crewArr}}
                        <i>-- no one so far --</i>
                        {{/unless}}
                    </div>

                    <div>
                        <form action="/user/{{../../currentUserName}}/add-to-watchlist/{{this.band.bandName}}" method="post">
                            
                            <input type="hidden" name="festivalID" value="{{../this.idOfFestival}}">
                            
                            <input type="hidden" name="groupId" value="{{../../id}}">
                            
                            <input type="hidden" name="spotifyId" value="{{this.band.spotifyId}}">
                            
                            <button type="submit" class="button-28 btn-white">Add to your personal setlist</button>
                        </form>

                        <form action="/user/{{../../currentUserName}}/remove-from-watchlist/{{this.band.bandName}}" method="post">

                            <input type="hidden" name="festivalID" value="{{../this.idOfFestival}}">

                            <input type="hidden" name="groupId" value="{{../../id}}">

                            <button type="submit" class="button-28">Remove from your personal setlist</button>
                        </form>
                    </div>
                </div>
                {{/each}}
                {{#unless bandsWithCrewArr}}
                <div class="item-card empty-card">--- no bands were added to this festival so far ---</div>
                {{/unless}}
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>