<h2>Group details of {{groupName}}</h2>
<div>
    Admin: {{admin.username}}
</div>
<div>
    The Crew:
    <ul>
        <li>{{admin.username}} <i>(admin)</i></li>
        {{#each crew}}
        <li>{{username}}</li>
        {{/each}}
    </ul>
    {{#unless crew}}
    -- no crew members --
    {{/unless}}
    <form action="/group/{{id}}" method="post">
    <button type="submit">Join the crew</button>
    </form>
    {{#if userError}}
    {{userError}}
    {{/if}}
     {{#if adminError}}
    {{adminError}}
    {{/if}}
</div>
<div>
    Festivals:
    <ul>
        {{#each festivals}}
        <li>-- model not yet defined --</li>
        {{/each}}
    </ul>
    {{#unless festivals}}
    -- no festivals added so far --
    {{/unless}}
</div>