<h2>Welcome to your personal Dashboard <span id="username">{{username}}</span></h2>

<div class="grid-container grid-5-col">
    
    <div class="grid-element" id="dashboard-item1">
        <h3>Your groups:</h3>
        
        <div class="db-group-container">
        {{#if usersGroups}}
        {{#each usersGroups}}
        <div class="db-group-item"><a href="/group/{{_id}}">{{groupName}}</a></div>
        {{/each}}
        {{/if}}
        {{#unless usersGroups}}
        <div class="db-group-item">
            You haven't joint a group yet.
            <a href="/group">Go ahead!</a>
        </div>
        {{/unless}}
        </div>

    </div>


    <div class="grid-element" id="dashboard-item2">
        <h3>Your personal setlist:</h3>
    {{#if watchlist}}     
        {{#each watchlist}}
        <div class="item-card">
            <a href="/festival/{{festivalId}}">{{festivalName}}</a>
            <div class="db-band-container">
            {{#each bands}}
            <div class="db-band-item">
                <a href="/band/{{bandName}}/{{../festivalId}}">{{bandName}}</a>
            </div>
            {{/each}}
            </div>
        </div>
        {{/each}}
    {{/if}}

        {{#unless watchlist}}
        <div class="item-card empty-card">
            <i>
            Your personal setlist is empty.
            <br>
            Go check out the bands coming to your festival and add your favourites to your list, so you're not going to miss them!
            </i>
        </div>
        {{/unless}}
    </div>


    <div class="grid-element" id="dashboard-item3">
        <h3>Notifications:</h3>
        {{#if notifications}}
        {{#each notifications}}
        <div class="item-card">
            <p>{{message}}</p>
            <p><i>{{date}} | {{type}}</i></p>
        </div>
        {{/each}}
        {{/if}}

        {{#unless notifications}}
        <div class="item-card empty-card">
            <i>
            <p>Nothing happened since your last log in, you are up to date.</p>
            </i>
        </div>
        {{/unless}}
    </div>
</div>