<h1>Welcome to your personal Dashboard {{username}}</h1>

{{#if watchlist}}
<div>
    Your personal setlist:
    <ul>
    {{#each watchlist}}
        <li>{{band}}</li>
    {{/each}}
    </ul>
</div>
{{/if}}

{{#if notifications}}
<div>
    {{#each notifications}}
    <div>
        <p>{{message}}</p>
        <p><i>{{date}} | {{type}}</i></p>
    </div>
    {{/each}}
</div>
{{/if}}