<h1>Welcome to your personal Dashboard {{username}}</h1>

{{#if usersGroups}}
<div>
    <h3>Your groups:</h3>
    <ul>
    {{#each usersGroups}}
<li>{{this}}</li>
    {{/each}}
    </ul>
</div>
{{/if}}

{{#if watchlist}}
<div>
    <h3>Your personal setlist:</h3>
    
    {{#each watchlist}}
    Festival: {{festivalName}}
    <br>
    Bands:
    <ul>
    {{#each bands}}
        <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/each}}
    
</div>
{{/if}}


<div>
    <h3>Notifications:</h3>
    {{#if notifications}}
    {{#each notifications}}
    <div>
        <p>{{message}}</p>
        <p><i>{{date}} | {{type}}</i></p>
    </div>
    {{/each}}
    {{/if}}

    {{#unless notifications}}
    <p>Nothing happened since your last log in, you are up to date.</p>
    {{/unless}}
</div>
