<h2>{{bandName}}</h2>
<div>
    <div>Go watch at <b>{{festivalName}}</b> on {{stage}}</div>
    <div>Stagetime: {{startTime}}-{{endTime}}{{#unless startTime}}n.a.{{/unless}}</div>
</div>
<img src="{{images.1.url}}" alt="">
<div>{{genres}}</div>

<div>Top tracks:
    <ul>
        {{#each tracks}}
        <li>{{name}} </li>
        <audio controls src="{{preview_url}}"></audio>
        {{/each}}
    </ul>
</div>

{{#if isOwner}}
<a href="/band/{{bandName}}/{{festivalId}}/edit">Edit</a>
{{/if}}