
        {{#each band}}
        <form action="/festival/{{../festivalID}}/add-band" method="get">
        <div>
            <img src="{{images.2.url}}" alt="">
        {{id}}
        <br>
        <h3>{{name}}</h3>
        Genre: {{genres}}
        <br>
        <input type="hidden" name="spotifyId" value="{{id}}">
        
        <button type="submit">Add this band to {{../festivalName}} line-up</button>
        </form>
        {{/each}}
        </div>