<h2>Search results for: {{bandName}}</h2>
<div class="grid-element grid-5-col">
{{!-- <div class="grid-element" id="band-grid-item1"> --}}
    {{#each band}}
    <div class="item-card band-card">
        <div class="band-card-info">
            <div>
                <img src="{{images.2.url}}" alt="{{name}} band image" class="band-img">
            </div>
            <div>
                <h3>{{name}}</h3>
                <p class="genre">Genre: {{genres}} {{#unless genres}}<i>--</i>{{/unless}}</p>
            </div>
        </div>
        <form action="/festival/{{../festivalID}}/add-band" method="get">
            <input type="hidden" name="spotifyId" value="{{id}}">
                    
            <button type="submit" class="button-28 btn-white">Add this band to {{../festivalName}} line-up</button>
        </form>
    </div>
    {{/each}}
{{!-- </div> --}}
</div>