<h2>Add {{bandName}} to {{festivalName}} festival</h2>
<div class="band-form-container">
    <form action="/festival/{{_id}}/add-band" method="post" class="add-form">

        <input type="hidden" name="festivalName" value="{{festivalName}}">
        <input type="hidden" id="bandName" name="bandName" value="{{bandName}}">
        <input type="hidden" name="spotifyId" value="{{spotifyId}}">
        <input type="hidden" name="image" value="{{image}}">

        <label for="stage">On which stage will {{bandName}} be playing?</label>
        <select name="stage" id="stage">
            {{#each stages}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>

        <label for="day">On which day?</label>
        <input type="date" name="day" id="day" min="{{startDate}}" max="{{endDate}}">

        <label for="startTime">Start of the show?</label>
        <input type="time" id="startTime" name="startTime">

        <label for="endTime">End of the show?</label>
        <input type="time" id="endTime" name="endTime">

        <button type="submit" class="button-53">Add to line up</button>
        {{#if errorMessage}}
            <div class="errorMessage">
                {{errorMessage}}
            </div>
        {{/if}}  
    </form>
    <div class="band-image-wrapper">
        <img src="{{image}}" alt="">
    </div>
</div>
