<h2>Add a band to {{festivalName}} festival</h2>

<form action="/festival/{{_id}}/add-band" method="post">

<label for="bandName">Band name: </label>
<input type="text" id="bandName" name="bandName" value="{{name}}" readonly>
<input type="hidden" name="spotifyId" value="{{spotifyId}}">

<label for="stage">On which stage will the band be playing?</label>
<select name="stage" id="stage">
    {{#each stages}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>

<label for="day">Which day will they be playing?</label>
<input type="date" name="day" id="day" min="{{startDate}}" max="{{endDate}}">

<label for="startTime">When will they be on the stage?</label>
<input type="time" id="startTime" name="startTime">

<label for="endTime">When will they leave the stage?</label>
<input type="time" id="endTime" name="endTime">

<button type="submit">Add band to the line up</button>
</form>