<h2>Update the info for {{name}}</h2>

<form action="/festival/{{_id}}/update" method="post">

<label for="name">Name of the festival</label>
<input type="text" name="name" id="name" value="{{name}}">

<label for="startDate">Start</label>
<input type="date" name="startDate" id="startDate" value="{{startDate}}">

<label for="endDate">End</label>
<input type="date" name="endDate" id="endDate" value="{{endDate}}">

<button type="submit">Update</button>
</form>